/*-------global------*/
body {
	font-size: 13px;
	font-family: "Lucinda Grande", Tahoma;
	overflow-y: scroll;
	color: #555;
}

ul, li, form, img {
	border: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
	color: #4297D7;
	text-decoration: none;
}

#wrapper {
	width: 600px;
    margin: 0 auto;
}

.clear { clear: both; }
.inline { display: inline ;}

/*-------header-----*/
#logo {
	font-family: Helvetica;
	letter-spacing: -4px;
    font-size: 40px;
}

#header_tabs {
	margin-top: 10px;
}
#header_tabs li {
    display: inline;
	padding: 5px 5px 0;
    margin-right: 20px;
}

/*-------criteria---*/
#criteria {
    font-family: Arial;
	width: 560px;
	display: inline-block;
	background-color: #eee;
	border-bottom: 1px solid #ccc;
    padding: 20px;
	clear: left;	
}

#criteria p {
	margin: 0;
}

#criteria #dates input{
    width: 75px;
}

#criteria .criteria_small_top {
    margin-top: 5px;
}

#criteria .criteria_med_top {
    margin-top: 10px;
}

#criteria .criteria_status_input {
	margin-left: 0;
}

#criteria .criteria_status_label {
	margin: 0 10px 0 2px;
	font-size: 13px;
}

#search_button {
	margin: 0;
	padding: 0;
}

#loading {
	vertical-align: middle;
	display: none;
}
/*-------table------*/
#result_drop {
	height: 50px;
	width: 598px;
	background-color: #fff;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	display: none;
	position: absolute;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
}

	#result_drop #rd_close {
	    display: block;
        width: 100px;
        margin: 0 auto;
		text-align:center;
	}

.pass { color: #106D10; text-align: center; }

.fail { color: #FF7F50; text-align: center;}

#results {
    border-collapse: collapse;
}

#results tr {
	height: 26px;
	cursor: pointer;
	border-bottom: 1px solid #ccc;
}

#results tr:hover {
	background-color: #eee;
}

#results th {
}

#results td, #results th {
	text-align: left;
    padding: 4px;
}

#results td {
    
}

#date_col { width: 150px; }
#time_col { width: 150px; }
#acc_col { width: 250px; }
#status_col { width: 50px; }

/*-------pagination------*/    
#pagination {
    margin-top: 10px;
}   
 
#pagination li {
    float: left;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #eee;
}