$def with (content)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>	
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/static/css/redmond/jquery-ui-1.8.5.css" type="text/css" media="screen" charset="utf-8">
	
	<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui-1.8.5.min.js"></script>
	$:content.js
	
</head>
<body>
    <div id="wrapper">
		<div id="header">
			<a href="#" id="logo">ICVApp</a>
			<ul id="header_tabs">
				<li><a href="/">Search</a></li>
				<li><a href="/options">Options</a></li>
				<!-- how to display time, how many results to show -->
				<li><a href="/faq">FAQ</a></li>
			</ul>
		</div>
       $:content
    </div>
</body>
</html>
