$def with (content)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<title>ICVApp</title>	
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/static/css/redmond/jquery-ui-1.8.5.css" type="text/css" media="screen" charset="utf-8">
	
	<script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui-1.8.5.min.js"></script>
    $if content.has_key('js'):
        $for j in content.js.split():
            <script type="text/javascript" src="$j"></script>
    
	
</head>
<body>
    <div id="wrapper">
        <div id="logo">
            <a href="/">Home</a>
			<a href="/faq">Help</a>
        </div>
       $:content
    </div>
</body>
</html>
