<h3>ICVApp Help Topics</h3>

<ol id="faq_contents">
	<li><a href="#how_search">How do I make a search?</a></li>
	<li><a href="#how_edit_dates">How do I edit the dates for my search?</a></li>
	<li><a href="#how_expand_view">How do I expand the view of individual accession numbers?</a></li>
	<li><a href="#how_know_passed_failed">How do I know if a test result has passed or failed?</a></li>
	<li><a href="#how_refresh">How do I refresh my search results?</a></li>
	<li><a href="#are_advanced">Are there any advanced search options?</a></li>
</ol>

<div id="how_search">
	<h4>How do I make a search?</h3>
	<p>On the main screen of the application, you select the date range you want to view, then check whether you want passed results, failed results, or all results, and then clicking search</p>
</div>

<div id="how_edit_dates">
	<h4>How do I edit the dates for my search?</h3>
	<p>Click on either textbox containing the date, and a small calendar will automatically appear by your mouse. Then proceed by clicking on a date on the calendar, to mark either the beginning or ending date range </p>
</div>

<div id="how_expand_view">
	<h4>How do I expand the view of individual accession numbers?</h3>
	<p>To expand the view of individual accession numbers, simply click on the row and it will automatically show detailed information on the accession number. </p>
</div>

<div id="how_know_passed_failed">
	<h4>How do I know if a test result has passed or failed?</h3>
	<p>When viewing the results listings, each accession number will display its status located on the right hand side of the listing, which will display either a "pass" result or a "fail" result </p>
</div>

<div id="how_refresh">
	<h4>How do I refresh my search results?</h3>
	<p>To refresh your current search results, simply click search again, as the search dates will remain the same as when you first queried the search.</p>
</div>

<div id="are_advanced">
	<h4>Are there any advanced search options?</h3>
	<p>Yes, click on "options" located at the top of the page, and you will be redirected to an options page to customize your search results.</p>
</div>

