$var js: /static/js/main.js

<div id="criteria">
	<form action="#" method="get" accept-charset="utf-8">
		<div id="date_left">
			<p>From</p>
			<input type="text" name="criteria_start" id="criteria_start"/>
		</div>
		<div id="date_right">
			<p>To</p>
			<input type="text" name="criteria_end" id="criteria_end"/>
		</div>
		
		<div class="clear"></div>
		
		<p>
			<input type="radio" name="criteria_status" value="passed" class="criteria_status_input" id="criteria_passed">
			<label for="criteria_passed" class="criteria_status_label">Passed</label>
			
			<input type="radio" name="criteria_status" value="failed" class="criteria_status_input" id="criteria_failed">
			<label for="criteria_failed" class="criteria_status_label">Failed</label>
			
			<input type="radio" name="criteria_status" value="all" class="criteria_status_input" checked="on" id="criteria_all">
			<label for="criteria_all" class="criteria_status_label">All</label>
		</p>

		<p><input type="button" value="Search" id="search_button"><img src="/static/images/loadball.gif" id="loading"></p>
	</form>
</div>

<div id="num_results">
	<p>&nbsp;</p>
</div>

<div id="result_drop">
    
    <a href="#" id="rd_close">close</a>
</div>

<table border="0" cellspacing="0" cellpadding="0" id="results">
	<tr>
		<th id="date_col">Date</th>
		<th id="time_col">Time</th>
		<th id="acc_col">Accession</th>
		<th id="status_col">Status</th>
	</tr>
	<tr>
		<td>.ueueu</td>
		<td>.ueueu</td>
		<td>.ueueu</td>
		<td>.ueueu</td>
	</tr>
</table>

<ul id="pagination">
</ul>
