$var js: /static/js/main.js
<p>Instructions: Choose a date range and click search.</p>

<div id="search">   	 
	<form action="#" method="get" accept-charset="utf-8">
	        <p id="from">
	            From<br>
	            <input type="text" name="begin_date" id="begin_date"/>
	        </p>
            <p id="to">
                To<br>
    	        <input type="text" name="end_date" id="end_date"/>
            </p>
            <div class="clear"></div>
            <p>
	            <input type="button" value="Search" id="search_btn">

	            <a href="#" id="more_options_btn">More options</a>
                <!-- need loading ball gif -->
	        </p>
	        <p id="options">
	            <strong>Show only:</strong>
	            <br>
                <input type="checkbox" id="options_passed" name="status" value="passed" checked="yes">
                <label for="options_passed">Passed</label>
                <input type="checkbox" id="options_failed" name="status" value="failed" checked="yes">
                <label for="options_failed">Failed</label>
	        </p>
	</form>
</div>

<div id="num_results">
    <p>&nbsp;</p>
</div>

<ul id="results">
        <li id="result_header">
            <h3><span class="date"><strong>Date</strong></span><span class="time"><strong>Time</strong></span><span class="accession"><strong>Accession #</strong></span><span class="status"><strong>Status</strong></span></h3>
        </li> 
</ul>

<div id="pagination">

</div>
